<h3>多人订阅</h3>
<ul class="add">
    <li class="dropdown" id="groupDropdown">
        <img alt="添加图标" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown"
             role="button" src="../images/add.svg">
        <ul class="dropdown-menu" role="menu">
            <li class="add-subscription"><a href="javascript:void(0);">添加多人订阅</a></li>
        </ul>
    </li>
</ul>
<hr/>
<p class="lead">你还没有添加订阅信息</p>
<div class="cards multi-user">
    <a class="panel panel-default" href="javascript:void(0);">
        <div class="panel-heading ">订阅名</div>
        <div class="panel-body">
            服务名<br/>
            到期时间
        </div>
    </a>
    <a class="panel panel-default" href="javascript:void(0);">
        <div class="panel-heading ">订阅名</div>
        <div class="panel-body">
            服务名<br/>
            到期时间
        </div>
    </a>
</div>
<script src="/scripts/router/multi-user.js"></script>