<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<h3>多人订阅</h3>
<ul class="add">
    <li class="dropdown" id="groupDropdown">
        <img alt="添加图标" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown"
             role="button" src="../static/images/add.svg" th:src="@{images/add.svg}">
        <ul class="dropdown-menu" role="menu">
            <li class="add-subscription"><a href="javascript:void(0);">加入多人订阅小组</a></li>
            <li class="add-subscription"><a href="javascript:void(0);">创建多人订阅小组</a></li>
        </ul>
    </li>
</ul>
<hr/>
<p class="lead" th:if="${session.multiSubs.size()==0}">你还没有添加订阅信息</p>
<div class="cards multi-user">
    <a class="panel panel-default" href="javascript:void(0);" th:attr="data-group=${multisubs.getGroup().getId()}"
       th:each="multisubs:${session.multiSubs}">
        <div class="panel-heading" th:text="'小组名：'+${multisubs.getGroup().getGroupName()}"></div>
        <div class="panel-body">
            <span th:text="'服务名：'+${multisubs.getGroup().getUserSubs().getService().getServiceName()}"></span><br/>
            <span th:text="'到期日：'+${#temporals.format(multisubs.getGroup().getUserSubs().getEndTime(), 'yyyy-MM-dd')}"></span>
        </div>
    </a>
</div>
<script src="../static/scripts/router/multi-user.js" th:src="@{scripts/router/multi-user.js}"></script>
