<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<h3>我的订阅</h3>
<ul class="add">
    <li class="dropdown" id="groupDropdown">
        <img alt="添加图标" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown"
             role="button" src="images/add.svg">
        <ul class="dropdown-menu" role="menu">
            <li class="add-subscription"><a href="javascript:void(0);">添加订阅</a></li>
            <li class="manage-subscription"><a href="javascript:void(0);">管理订阅</a></li>
        </ul>
    </li>
</ul>
<hr/>
<p class="lead" th:if="${session.singleSubs.size()==0}">你还没有添加订阅信息</p>
<div class="cards single-user" th:if="${!session.singleSubs.isEmpty()}" th:each="subs: ${session.singleSubs}">
    <a class="panel panel-default" href="javascript:void(0);" th:attr="data-subs-id=${subs.id}">
        <div class="panel-heading" th:text="${subs.service.serviceName}">服务名</div>
        <div class="panel-body">
            账号：<span th:text="${subs.subsAccount}">账号</span><br/>
            到期日：<span th:text="${#temporals.format(subs.endTime, 'yyyy-MM-dd')}">到期日</span>
        </div>
    </a>
</div>
<script src="/scripts/router/single-user.js"></script>
</html>