<h3>订阅服务详情（需重制）</h3>
<hr/>
<div class="panel panel-default">
    <div class="panel-heading serviceId">
        <div>
            <span class="groupNameInPanel">小组名</span>
            <span class="groupIdInPanel">小组号：000</span>
        </div>
    </div>
    <div class="panel-body">
        <span class="groupInfoInPanel">
            服务名<br/>
            人数：0/0
        </span>
        <span class="buttonInPanel">
            <a class="btn btn-danger btn-lg"
               href="#">解散小组</a>
            <a class="btn btn-warning btn-lg"
               href="#">退出小组</a>
        </span>
    </div>
    <div class="groupMemberTable" id="groupMemberTable">
        <table class="table table-striped table-hover">
            <thead>
            <tr class="active">
                <th>职位</th>
                <th>昵称</th>
                <th>用户名</th>
                <th>操作</th>
            </thead>
            <tbody>
            <tr class="active">
                <td>管理员</td>
                <td>昵称</td>
                <td>用户名</td>
                <td></td>
            </tr>
            <tr class="active">
                <td>普通成员</td>
                <td>昵称</td>
                <td>用户名</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                       href="#">移除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--<script src="/scripts/router/.js"></script>-->
