<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<h3>订阅服务详情</h3>
<hr/>
<div class="panel panel-default subscription">
    <div class="panel-heading serviceId">
        <div>
            <span class="subscriptionNameInPanel"></span>
            <span class="subscriptionIdInPanel">订阅 ID：<span th:text="${#request.getAttribute('subsId')}">000</span></span>
        </div>
    </div>
    <div class="panel-body subscriptionPanel">
        <span class="subscriptionInfoInPanel" th:text="${#request.getAttribute('serviceName')}">服务名</span>
    </div>
    <div class="subscriptionInfoTable" id="subscriptionInfoTable">
        <table class="table table-striped table-hover">
            <tbody>
            <tr class="active">
                <th>订阅账号</th>
                <td th:text="${#request.getAttribute('subsAccount')}">example@domain.com</td>
            </tr>
            <tr class="active">
                <th>开始日期</th>
                <td th:text="${#request.getAttribute('startTime')}">2020-01-01</td>
            </tr>
            <tr class="active">
                <th>结束日期</th>
                <td th:text="${#request.getAttribute('endTime')}">2020-12-31</td>
            </tr>
            <tr class="active">
                <th><label for="SubscriptionNote">备注</label></th>
                <td>
                    <textarea id="SubscriptionNote" readonly rows="3" th:text="${#request.getAttribute('description')}">
                        这里是备注
                    </textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--<script src="/scripts/router/.js"></script>-->
</html>