<html lang="zh">
<h4>搜索结果</h4>
<hr/>
<div class="cards">
    <div class="panel panel-default">
        <div class="panel-heading serviceId-？">
            <div>
                <span class="groupNameInPanel">小组名</span>
                <span class="groupIdInPanel">小组号：000</span>
            </div>
        </div>
        <div class="panel-body">
                        <span class="groupInfoInPanel">
                            服务名<br/>
                            人数：0/0
                        </span>
            <span class="buttonInPanel">
                            <a class="btn btn-link disabled">人数已满</a>
                            <a class="btn btn-success btn-lg" href="#">申请加入</a>
                        </span>
        </div>
    </div>
</div>