<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<h3>小组信息</h3>
<hr/>

<div class="panel panel-default subscription">
    <div class="panel-heading serviceId">
        <div>
            <!--            session.group为一个小组信息
                            session.groupMembers小组所有成员
            -->
            <span class="groupNameInPanel" th:text="'小组名：'+${session.group.getGroupName()}"></span>
            <span class="groupIdInPanel" th:text="'小组号：'+${session.group.getId()}"></span>
        </div>
    </div>
    <div class="panel-body">
        <span class="groupInfoInPanel">
            <span th:text="'服务名：'+${session.group.userSubs.getService().getServiceName()}">服务名</span><br/>
            <span th:text="'人数：'+${session.groupMembers.size()}+'/'+${session.group.getUserCount()}">人数：0/0</span>
        </span>
        <span class="buttonInPanel">
<!--            session.member为小组中单个成员，小组管理(isAdmin=ture)才可以解散小组，
                                                小组成员(isAdmin=false只能腿出小组)
  -->
            <a class="btn btn-danger btn-lg" href="javascript:void(0);" id="dissolve"
               th:attr="data-dissolve-id=${session.groupMembers.get(0).getGroup().getId()}"
               th:if="${session.member.isAdmin()}==true">解散小组</a>

            <a class="btn btn-warning btn-lg" href="javascript:void(0);" id="exit"
               th:attr="data-exit-id=${session.member.getUser().getId()},
               data-dissolve-id=${session.groupMembers.get(0).getGroup().getId()}"
               th:if="${session.member.isAdmin()==false}"
            >退出小组</a>
        </span>
    </div>

    <div class="groupMemberTable" id="groupMemberTable">
        <table class="table table-striped table-hover">
            <thead>
            <tr class="active">
                <th>职位</th>
                <th>昵称</th>
                <th>用户 ID</th>
                <th th:if="${session.member.admin}">操作</th>
            </thead>
            <tbody th:each="groupmembers:${session.groupMembers}">
                <tr class="active">
                    <td th:if="${groupmembers.admin==true}">管理员</td>
                    <td th:if="${groupmembers.admin==false}">普通成员</td>
                    <td th:text="${groupmembers.user.nickname}">昵称</td>
                    <td th:text="${groupmembers.user.id}">用户名</td>
                    <td th:if="${session.member.admin}">
                        <a class="btn btn-primary btn-sm groupMemberId" href="javascript:void(0);"
                           th:attr="data-user-id=${groupmembers.user.id},data-group-id=${groupmembers.group.id}"
                           th:if="${groupmembers.admin==false and session.member.user.id==session.groupMembers.get(0).user.id}">
                            移除
                        </a>
                    </td>
                </tr>
            </tbody>
            <tr class="active">
                <th>备注</th>
                <td th:if="${session.group.userSubs.description} != ''" th:text="${session.group.userSubs.description}" th:colspan="3"></td>
                <td th:if="${session.group.userSubs.description} == ''" th:colspan="3">空</td>
            </tr>
        </table>
    </div>
</div>
<script src="../static/scripts/group/remove-dissolve-members.js"
        th:src="@{scripts/group/remove-dissolve-members.js}"></script>
</html>
