<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
          name="viewport">
    <link href="../static/styles/style.css" rel="stylesheet" th:href="@{styles/style.css}">
    <link href="../static/styles/bootstrap.min.css" rel="stylesheet" th:href="@{styles/bootstrap.min.css}">
    <script src="../static/scripts/jquery-3.5.1.min.js" th:src="@{scripts/jquery-3.5.1.min.js}"></script>
    <script src="../static/scripts/bootstrap.min.js" th:src="@{scripts/bootstrap.min.js}"></script>
</head>
<body>
<div class="navigation" id="navigation"></div>
<div id="main-content"></div>
</body>
<script>
    $("#main-content").load("subscription/my");
    $("#navigation").load("navigation");
</script>
</html>
